* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;

}

body {
    background-color: #0f0f1e;
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;

}

.logo {
    /* font-family: "Orbitron", sans-serif; */
    font-size: 2rem;
    font-weight: 900;
    color: #be0b0b;
    text-shadow: 0 0 10px #f8f5f5;

}

header nav ul {
    display: flex;
    gap: 40px;

}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;


}

header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #990d0d;
}

header nav ul li:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.conteudo-principal {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #000000 0%, #520202 100%);
    overflow: hidden;
}

.conteudo-principal::before {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 3s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5);
    }

}

.lista {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.active {
    opacity: 1;
}

.imagem-produto {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.imagem-produto img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.2));
}

.detalhes-produto {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;


}

.tag-promo {
    font-size: 1rem;
    text-transform: uppercase;
    color: #990d0d;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.nome-moto {
    font-size: 4.5rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.2;
    margin-bottom: 20px;
}

.descricao-produto {
    font-size: 1.1rem;
    color: #dddddd;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.btn {
    padding: 12px 10px;
    background: linear-gradient(90deg, #990d0d, #000000);
    border-radius: 30px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: linear-gradient(90deg, #be0b0b, #1a0000);
    transition: background 0.3s ease-in-out;
}

.setas {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

.btn-seta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.26);
    border: 1px solid rgb(255, 255, 255, 0.26);
}

.btn-seta:hover {
    background-color: rgba(235, 8, 8, 0.1);
    border: 1px solid rgba(218, 6, 6, 0.3);

}

.incicatores {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    z-index: 5;
}

.numeros {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.2);


}

.pontos {
    display: flex;
    gap: 10px;

}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;


}

.dot.active {
    width: 60px;
    background-color: #be0b0b;
    box-shadow: 0 0 10px #f8f5f5;
}